@charset "utf-8";

:root {
	--background-color: #C0C0C0;
	--foreground-color: #000000;
	--light-color: #FFFFFF;
	--dark-color: #A0A0A0;
	--shadow-color: #808080;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height : 100vh;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 14pt;
	color: var(--foreground-color);
	background: #007F7F;
}

body > *, input, .messages {
	border-style: solid;
	border-width: 2px;
}

body > *, button {
	border-top-color: var(--light-color);
	border-left-color: var(--light-color);
	border-bottom-color: var(--shadow-color);
	border-right-color: var(--shadow-color);
	background: var(--background-color);
}

body > * {
	padding: 1em;
	box-shadow: 1em 1em #0000007F;
}

input, button {
	font-size: inherit;
	color: var(--foreground-color);
}

input[type="text"], button:active, .messages {
	border-top-color: var(--shadow-color);
	border-left-color: var(--shadow-color);
	border-bottom-color: var(--light-color);
	border-right-color: var(--light-color);
}

input[type="text"], .messages {
	background: #FFFFFF;
}

button {
	background: var(--background-color);
}

button:active {
	background: var(--dark-color);
}

.registration label {
	display: block;
}
.registration label:not(:last-child) {
	margin-bottom: 1em;
}

.registration .label {
	display: inline-block;
	min-width: 5em;
}

#join {
	float: right;
}

.chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-sizing: border-box;
	width: min(40em, 100vw);
	max-height: 100vh;
}

.messages {
	flex-grow: 1;
	overflow: auto;
}

.message {
	margin: 0;
}

.message.meta {
	font-weight: bold;
	color: #007F00;
}

.sender {
	font-weight: bold;
	color: #00007F;
}

.sender::before {
	content: "<";
}
.sender::after {
	content: "> ";
}

.input {
	display: flex;
	margin-top: 1em;
}

#message {
	flex-grow: 1;
	margin-right: 1em;
}

*[hidden] {
	display: none;
}
