@charset "utf-8";

:root {
	--background-color: #C0C0C0;
	--foreground-color: #000000;
	--light-color: #FFFFFF;
	--dark-color: #A0A0A0;
	--shadow-color: #808080;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	scrollbar-color: #888888 #C0C0C0;
	scrollbar-width: auto;
}

::selection {
	background: #00007F;
	color: #FFFFFF;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height : 100vh;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: sans-serif;
	font-size: 14pt;
	color: var(--foreground-color);
	background: #007F7F;
}

body > *, input, textarea, button, #messages {
	border-style: solid;
	border-width: 2px;
}

body > *, button {
	border-top-color: var(--light-color);
	border-left-color: var(--light-color);
	border-bottom-color: var(--shadow-color);
	border-right-color: var(--shadow-color);
	background: var(--background-color);
}

body > * {
	min-width: 0;
	padding: 1em;
	box-shadow: 1em 1em #0000007F;
}

*[disabled] {
	opacity: 0.5;
}

input, textarea, button {
	padding: 0.125em 0.5em;
	font-size: inherit;
	color: var(--foreground-color);
}

input[type="text"], textarea,
button:not([disabled]):hover:active, #messages {
	border-top-color: var(--shadow-color);
	border-left-color: var(--shadow-color);
	border-bottom-color: var(--light-color);
	border-right-color: var(--light-color);
}

input[type="text"], textarea, #messages {
	background: #FFFFFF;
}

button {
	background: var(--background-color);
}

button:not([disabled]):hover:active {
	background: var(--dark-color);
}

#registration label {
	display: flex;
	flex-wrap: wrap;
}
#registration label:not(:last-child) {
	margin-bottom: 1em;
}

#registration label input[type="text"] {
	flex-grow: 1;
}

#registration .label {
	display: inline-block;
	min-width: 5em;
}

.banner {
	max-width: 100%;
	margin-bottom: 1em;
}

#join-button {
	float: right;
}

#chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: min(40em, 100vw);
	max-height: 100vh;
}

#messages, #message-input {
	font-family: serif;
}

#messages {
	flex-grow: 1;
	padding: 0 0.5em;
	overflow: auto;
	overflow-wrap: break-word;
}

.message {
	margin: 0;
	line-height: 1.5;
}
.message.meta {
	font-weight: bold;
	color: #007F00;
}

.message > * {
	vertical-align: middle;
}

.message .sender {
	font-weight: bold;
	color: #00007F;
}
.message .sender.self {
	color: #7F0000;
}

.message .sender::after {
	content: ": ";
}

.message > button {
	margin-left: 0.5em;
}

.message .buttons {
	margin-left: 1em;
}

.message .buttons button {
	padding: 0;
	font-size: 0.75em;
	border: none;
	background: none;
	opacity: 0.25;
	filter: grayscale(1);
}
.message .buttons button:not(:last-child) {
	margin-right: 0.5em;
}

.message .buttons button:hover {
	opacity: 0.5;
}
.message .buttons button:active {
	background: none;
}

.message .timestamp {
	margin-left: 1rem;
	font-size: 0.5em;
	font-weight: normal;
	color: #0000003F;
}

#chat-form, #cancel-edit-button {
	margin-top: 1em;
}

#chat-form {
	display: flex;
}

#chat-form > *:not(:last-child) {
	margin-right: 1em;
}

#message-input {
	flex-grow: 1;
	min-width: 0;
	height: 3em;
	resize: none;
}

*[hidden] {
	display: none !important;
}
